@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

*:before,
*:after {
    box-sizing: border-box;
}

/* 
---------------
(1)- Styling the stroke
---------------
*/

.stroke-blue, .stroke-yellow, .stroke-red {
    fill: none;
    stroke-width: 600px;
    stroke-linecap: square;
    stroke-linejoin: round;
    /* (7)- adding animation*/
    animation: loading 0.6s ease-out 2 alternate forwards;
}

.stroke-blue {
    stroke: rgb(0, 0, 255);
    /* (6)- get length in JavaScript */
    stroke-dasharray: 2873.565673828125;
    stroke-dashoffset: 2873.565673828125;
    /* (8)- adding delay */
    animation-delay: 0.2s;
}

.stroke-yellow {
    stroke: rgb(255, 255, 0);
    /* (6)- get length in JavaScript */
    stroke-dasharray: 2873.565673828125;
    stroke-dashoffset: 2873.565673828125;
    /* (8)- adding delay */
    animation-delay: 0.4s;
}

.stroke-red {
    stroke: rgb(255, 0, 0);
    /* (6)- get length in JavaScript */
    stroke-dasharray: 2820.33447265625;
    stroke-dashoffset: 2820.33447265625;
    /* (8)- adding delay */
    animation-delay: 0.6s;
}

/* 
---------------
(7)- stroke animation
---------------
*/

@keyframes loading {
    to {
        stroke-dashoffset: 0;
    }
}

/* 
---------------
(2)- Giving body 100%
---------------
*/

body {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: #fff;
}

/* 
---------------
(3)- Styling h1
---------------
*/

h1 {
    position: fixed;
    font-size: 120px;
    color: #fff;
    background-color: #000;
    font-weight: 100;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* (5)- start animation */
    clip-path: circle(0% at top left);
    animation: clip 0.5s ease-out 0.6s 2 alternate forwards;
    
}

/* 
---------------
(4)- Animating h1
---------------
*/

@keyframes clip {
    to {
        clip-path: circle(150% at top left);
    }
}


