@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

*:before,
*:after {
    box-sizing: border-box;
}

:root {
    /* Color Palette */
    --primary: #2306fd;
    --secondary: #1401a7;
    --secondaryHover: #09004d;
    --text:#5a5580;
    --negative: #ffffff;
    --lightGradient:#f5f4ff;
    --darkGradient: #44009c;
    /* Typesize */
    --xl: 77px;
    --lg: 48px;
    --md: 29px;
    --sm: 17px;
    /* Type Weight */
    --black: 900;
    --bold: 700;
    --medium: 500;
    --regular: 400;
    --light: 300;
    --thin: 100;
    /* Margin and Padding */
    --spaceXL: 96px;
    --spaceLG: 72px;
    --spaceMD: 48px;
    --spaceSM: 24px;
    --spaceXS: 12px;
    /* Border Radius */
    --roundLG: 80px;
    --roundMD: 60px;
    --roundSM: 40px;
    /* Box Shadow */
    --shadow: 0 0 20px 5px rgba(0,0,0,0.06);
    --shadowHover: 0 0 20px 10px rgba(0, 0, 0, 0.1);
}

/* (1) - Wrapper */
.wrapper {
    width: 1152px;
    height: 1248px;
    display: grid;
    grid: repeat(26, 1fr) / repeat(24, 1fr);
    margin: var(--spaceMD) auto;
}

/* (2) - Balance */
.balance {
    grid-area: 1 / 1 / span 9 / span 13;
    background: linear-gradient(90deg, var(--primary), var(--darkGradient));
    padding: var(--spaceXL);
    border-radius: var(--roundLG);
}

.balance h1, .balance h2 {
    color: var(--negative);
}

.balance header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: var(--spaceLG);
}

.date h1 {
    font-size: var(--lg);
    font-weight: var(--light);
}

.date h2 {
    font-size: var(--md);
    font-weight: var(--thin);
}

.percentage h1 {
    font-size: var(--lg);
    display: flex;
    justify-content: center;
    align-items: center;
}

.percentage h1 svg {
    margin-left: var(--spaceXS);
    transform: scale(1.2);
    transform-origin: center center;
}

.percentage h1 svg path {
    fill: var(--negative);
}

.balance footer h1 {
    font-weight: var(--black);
}

.balance footer h1 span:first-child {
    font-size: var(--lg);
}

.balance footer h1 span:last-child {
    font-size: var(--xl);
}

/* (3) - Summary */
.summary {
    grid-area: 11 / 1 / span 16 / span 13;
    background: linear-gradient(180deg, var(--negative), var(--lightGradient));
    padding: var(--spaceXL);
    border-radius: var(--roundLG);
    box-shadow: var(--shadow);
}

.summary h1 {
    color: var(--text);
    font-weight: var(--light);
}

.summary header h1 {
    font-size: var(--lg);
}

.account-number, .transactions-limit {
    background-color: var(--negative);
    border-radius: var(--roundSM);
    box-shadow: var(--shadow);
    padding: var(--spaceLG);
    margin-top: var(--spaceMD);
}

.account-number h1, .transactions-limit h1 {
    font-size: var(--md);
}

.account-number h1:last-child, .transactions-limit h1:last-child {
    font-weight: var(--bold);
}

/* (4) - Payment Due */
.payment-due {
    grid-area: 1 / 15 / span 5 / span 10;
    background: linear-gradient(180deg, var(--negative), var(--lightGradient));
    padding: var(--spaceLG);
    border-radius: var(--roundMD);
    box-shadow: var(--shadow);
}

.payment-due h1 {
    color: var(--secondary);
    font-size: var(--md);
}

.payment-due h1:first-child {
    font-weight: var(--light);
    margin-bottom: var(--spaceXS);
}

/* (5) - Activities */
.activities {
    grid-area: 7 / 15 / span 18 / span 10;
    background: linear-gradient(180deg, var(--negative), var(--lightGradient));
    border-radius: var(--roundLG);
    box-shadow: var(--shadow);
}

.activities h1 {
    color: var(--text);
    font-weight: var(--light);
    font-size: var(--lg);
    padding: var(--spaceXL) var(--spaceXL) var(--spaceSM) var(--spaceXL);
}

.activities main ul {
    list-style: none;
}

.activities main ul li {
    padding: var(--spaceSM) var(--spaceXL);
    color: var(--text);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.activities main ul li span:first-child {
    font-size: var(--sm);
    font-weight: var(--bold);
}

.activities main ul li span:last-child {
    font-size: var(--md);
    font-weight: var(--light);
}

.activities footer {
    padding: var(--spaceXS) var(--spaceXL) var(--spaceXL) var(--spaceXL);
}

.activities button {
    width: 100%;
    border: none;
    outline: none;
    padding: var(--roundSM);
    border-radius: var(--roundSM);
    font-size: var(--md);
    background-color: var(--secondary);
    color: var(--negative);
}

/* (6) - Interactions */

.wrapper * {
    transition: all 0.2s ease-out;
}

.balance:hover {
    background: linear-gradient(270deg, var(--primary), var(--darkGradient));
    transform: scale(1.01);
}

.payment-due:hover,
.activities:hover,
.summary:hover,
.account-number:hover,
.transactions-limit:hover {
    transform: scale(1.01);
    cursor: pointer;
    box-shadow: var(--shadowHover);
}

.activities ul li:hover {
    box-shadow: var(--shadow);
    cursor: pointer;
    transform: translateY(-5px);
}

.activities button:hover {
    cursor: pointer;
    background-color: var(--secondaryHover);
}

/* (7) - Animations */

@keyframes fade {
    to {
        opacity: 1;
    }
}

.balance, .payment-due, .activities, .summary {
    animation-name: fade;
    animation-duration: 0.4s;
    animation-timing-function: ease-out;
    animation-direction: normal;
    animation-fill-mode: forwards;
    opacity: 0;
}

.balance {
    animation-delay: 0.2s;
}

.payment-due {
    animation-delay: 0.4s;
}

.activities {
    animation-delay: 0.6s;
}

.summary {
    animation-delay: 0.8s;
}

/* (8) - Responsive 1170px */

@media (max-width: 1170px) {
    .wrapper {
        width: 672px;
        height: 1872px;
        grid: repeat(39, 1fr) / repeat(7, 1fr);
    }
    /* (8.1) - Responsive grid and padding */
    .balance, .payment-due, .summary {
        grid-column: 1 / span 7;
        padding: var(--spaceMD);
        border-radius: var(--roundSM);
    }
    .balance {
        grid-row: 1 / span 5;
    }
    .payment-due {
        grid-row: 7 / span 4;
    }
    .activities {
        grid-column: 1 / span 7;
        grid-row: 12 / span 16;
        border-radius: var(--roundSM);
    }
    .summary {
        grid-row: 29 / span 11;
    }
    /* (8.2) - Responsive balance typography */
    .balance header {
        margin-bottom: var(--spaceSM);
    }
    .date h1 {
        font-size: var(--md);
        font-weight: var(--regular);
    }
    .date h2 {
        font-size: var(--sm);
        font-weight: var(--light);
    }
    .percentage h1 {
        font-size: var(--md);
    }
    .balance footer h1 span:first-child {
        font-size: var(--md);
    }
    .balance footer h1 span:last-child {
        font-size: var(--lg);
    }
    /* (8.3) - Responsive summary grid and typography */
    .summary h1 {
        font-weight: var(--regular);
    }
    .summary header h1 {
        font-size: var(--md);
    }
    .account-number,
    .transactions-limit {
        padding: var(--spaceMD);
    }
    .account-number h1,
    .transactions-limit h1 {
        font-size: var(--sm);
    }
    /* (8.4) - Responsive activities grid and typography */
    .activities h1 {
        font-weight: var(--regular);
        font-size: var(--md);
        padding: var(--spaceMD) var(--spaceMD) var(--spaceSM) var(--spaceMD);
    }
    .activities main ul li {
        padding: var(--spaceSM) var(--spaceMD);
    }
    .activities main ul li span:last-child {
        font-size: var(--sm);
        font-weight: var(--regular);
    }
    .activities footer {
        padding: var(--spaceMD);
    }
    .activities button {
        border-radius: var(--spaceSM);
        font-size: var(--sm);
    }
}

/* (9) - Responsive 710px */
@media (max-width: 710px) {
    .wrapper {
        width: 336px;
    }
}